[user]
	name = Jarno Virtanen
	email = jarno.virtanen@gofore.com

[alias]
    st = status
    ci = commit --verbose
    co = checkout
    di = diff
    dc = diff --cached
    aa = add --all
    pullff = pull --ff-only
    pullre = pull --rebase
    l = log --graph --pretty='tformat:%C(yellow)%h%Creset %Cgreen(%ai)%Creset %C(bold blue)<%an>%Creset %C(bold red)%d%Creset %s'

[push]
    default = simple
